.btn {
    padding: 8px 16px;
    display: flex;
    cursor: pointer;
    
    &--small {
        font-weight: 600;
        font-size: 14px;
        line-height: 125%;
        color: $gray-3;
        background: #FFFFFF;
        border: 2px solid #E8ECF1;
        border-radius: 4px;

        svg {
            margin-right: 8px;
            
            path {
                fill: $gray-3;
            }
        }

        &-completed {
            background-color: #33a556;
            color: #fff;
            border: 2px solid #33a556;


            path {
                fill: #fff !important;
            }
        }
    }
}