.edit {
    display: none;
    background: #FFFFFF;
    border: 1px solid #E2E9F0;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    padding: 24px;

    &__label {
        margin-bottom: 32px;
        display: flex;
        align-items: center;

        &-text {
            width: 88px;
            display: inline-block;
        }

        &-label {
            color: $gray-3;
            font-weight: 600;
            font-size: 14px;
            line-height: 125%;
            width: 88px;

            display: block;
        }

        &-badges {
            display: flex;
        }

        &-description {
            align-items: flex-start;
        }
    }

    input {
        border: none;
        color: $gray-3;
        font-size: 16px;
        line-height: 125%;

    }

    &__controls {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
    }

    &__complete {
        margin-right: auto;
        cursor: pointer;
    }

    &__delete {
        cursor: pointer;
    }

    &__close {
        margin-left: 12px;
        cursor: pointer;
    }

    &__title {
        margin-bottom: 48px;
        display: block;
        font-size: 24px;
        font-weight: 600;
        line-height: 125%;
        /* identical to box height, or 30px */
        color: $text-dark;
    }

    &__labels-section {
        display: flex;
        align-items: center;
        margin-bottom: 32px;

        label {
            display: flex;
        }
    }

    &__todo-div {
        // display:inline-block;
        display: flex;
        position: relative;
        align-items: center;
    }

    &__todo-dropdown {
        min-width: 224px;
        position: absolute;
        top: 115%;

        li {
            padding: 16px;
            font-weight: normal;
            font-size: 16px;
            line-height: 125%;
            color: $text-dark;

            svg {
                margin-right: 8px;
            }
        }
    }

    &__description {
        font-size: 16px;
        line-height: 125%;
        /* or 20px */
        color: $text-dark;
        font-family: 'Titillium Web', sans-serif !important;
        border: none;
        resize: none;
        width: 268px;
        height: 150px;
    }

    &__history {
        border-top: 1px solid $gray-1;
        padding-top: 20px;

        .edit__activity-heading {
            font-weight: 600;
            font-size: 14px;
        }

        .edit__change {
            // position: relative;
            display: flex;
            align-items: baseline;
            margin-top: 12px;
            font-size: 14px;
            
            &:before {
                content: '';
                width: 4px;
                height: 4px;
                background-color: black;
                display: inline-block;
                margin-right: 8px;
                align-self: center;
                // position: absolute
            }
        }

    }

    &__timestamp {
        font-weight: 600;
        font-size: 12px;
        line-height: 125%;
        /* or 12px */

        margin-left: 4px;
        color: #9099A6;
        // align-self: baseline;
    }
}

.add-btn {
    cursor: pointer;
    width: 28px;
    height: 28px;
    border-radius: 4px;
    background-color: #EBEEF2;
    background-image: url('/img/icon-checkmark.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: none;

    &:hover {
        background-color: $gray-1;
    }
}