@import 'reset';
@import 'variables';

.show {
    display: block;
}

body {
    display: grid;
    grid-template-columns: 251px 1fr;
    grid-template-rows: 84px 1fr;
    grid-template-areas:    "sidebar header"
                            "sidebar main";
}

.header {
    background-color: grey;
    grid-area: header;
}

.sidebar {
    background-color:$primary;
    grid-area: sidebar;
    height: 100vh;
    color: #fff;

    &__bullet {
        height: 6px;
        width: 6px;
        display: inline-block;
        background-color: blue;
        border-radius: 50%;
    }

    &__labels {
        list-style: none;
    }

    &__label {

    }

    &__label-name {
        display: inline-block;
    }
}

main {
    grid-area: main;
    padding: 48px;
}

.todo {
    &__card {
        background-color: grey;
        margin: 8px;
        padding: 8px;
    }
}

.edit {
    background-color: green;
    display: none;
}

.menu {
    display: inline-block;
    position: relative;

    &__btn {
        cursor: pointer;
    }

    &__content {
        list-style: none;
        background-color: #fff;
        color: #19223B;

        position: absolute;
        min-width: 100px;
    }
}