*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, button, input {
  font-family: 'Titillium Web', sans-serif !important;
}

button {
  border: none;
}

.icon {
  width: 24px;
  height: 24px;
}

.header {
  background-color: #fff;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__nav {
  margin-left: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__tab {
  color: #738499;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 12px;
  margin-left: 12px;
}

.header__tab--active {
  color: #306BFF;
  -webkit-box-shadow: 0px -4px 0px #306BFF inset;
          box-shadow: 0px -4px 0px #306BFF inset;
}

.header__tab--active .header__badge {
  background-color: #306BFF;
  color: #fff;
}

.header__badge {
  background-color: #E0E4E8;
  color: #738499;
  font-size: 12px;
  padding: 0 6px;
  border-radius: 8px;
  margin-left: 8px;
}

.header__search {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 80px;
  position: relative;
}

.header__search-field {
  padding: 8px 16px;
  width: 300px;
  font-size: 14px;
  border: 1px solid #E0E4E8;
  border-radius: 30px;
}

.header__search .search-icon {
  position: absolute;
  top: calc(50% - 12px);
  right: 12px;
  fill: #306BFF !important;
}

.show {
  display: block;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 251px 1fr;
      grid-template-columns: 251px 1fr;
  -ms-grid-rows: 84px 1fr;
      grid-template-rows: 84px 1fr;
      grid-template-areas: "sidebar header" "sidebar main";
}

.sidebar {
  background-color: #181F47;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: sidebar;
  height: 100vh;
  color: #fff;
}

.sidebar__bullet {
  height: 6px;
  width: 6px;
  display: inline-block;
  background-color: blue;
  border-radius: 50%;
}

.sidebar__labels {
  list-style: none;
}

.sidebar__label-name {
  display: inline-block;
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: main;
  padding: 48px;
  background-color: #F5F7FA;
}

.todo__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: grey;
  margin: 8px;
  padding: 8px;
}

.todo__labels-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.todo__label {
  margin-left: 8px;
}

.edit {
  background-color: green;
  display: none;
}

.menu {
  display: inline-block;
  position: relative;
}

.menu__btn {
  cursor: pointer;
}

.menu__list {
  list-style: none;
  background-color: #fff;
  color: #19223B;
  position: absolute;
  min-width: 100px;
}

.menu__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__color {
  width: 20px;
  height: 20px;
}
/*# sourceMappingURL=main.css.map */